Django==3.2
django-rest-swagger==2.2.0
djangorestframework==3.12
django-allauth
django-rest-auth
drf-yasg==1.21.3  
pillow
gunicorn==20.0.4
dj-rest-auth
django_rest_framework_nested
drf-nested-routers
paystackapi
dj-database-url
psycopg2
whitenoise
twilio