Django==4.1
django-rest-swagger==2.2.0
djangorestframework
django-allauth
django-rest-auth
drf-yasg==1.21.3  
pillow
gunicorn==20.0.4
dj-rest-auth==2.2.5 
django_rest_framework_nested
drf-nested-routers
paystackapi
dj-database-url
psycopg2
whitenoise
