{% load static %}
<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nexus Ecom</title>
    <link href="{% static './css/landing_page.css'%}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    
  </head>
  <body class="container-fluid">
    <header class="col-12">
      <h1>Welcome to Nexus E-Store</h1>
    </header>
    <nav class="col-12">
      <ul>
        <li><a href="#features">Features</a></li>
        <li><a href="#screenshots">Screenshots</a></li>
        <li><a href="/admin">Admin page</a></li>
        <li><a href="/schema">Schema</a></li>
        <li><a href="https://drive.google.com/file/d/1kSXOGpkB81rIGuOC1aF8b3rkgSakdfvz/view?usp=share_link">Download</a></li>
      </ul>
    </nav>
    <main class="container">
      <section id="features">
        <h2>Features</h2>
        <ul>
          <li>Reliable</li>
          <li>Fast Delivery</li>
          <li>Customer Care 24/7</li>
        </ul>
      </section>
      <section id="screenshots" class="col-sm-6 col-md-6 col-lg-12">
        <h2>Screenshots</h2>
        <img src="{% static './img/img-1.png' %}" alt="Screenshot 1">
        <img src="{% static './img/img-2.png' %}" alt="Screenshot 2">
        <img src="{% static './img/img-3.png' %}" alt="Screenshot 3">
      </section>
      <section id="download">
        <a href="https://drive.google.com/file/d/1kSXOGpkB81rIGuOC1aF8b3rkgSakdfvz/view?usp=share_link">Download</a>
        
      </section>
    </main>
    <footer>
      <p>Copyright © 2023 Nexus</p>
    </footer>
  </body>
</html>
